.btn {
    border: none;
    padding: 15px 25px;
    color: white;
    background-color: rgb(189, 162, 112);
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: rgb(210, 180, 140);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}