.title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

header {
    padding: 20px 0;
    background-color: rgba(25, 30, 31, 0.596);
    color: whitesmoke;
    text-transform: uppercase;
}