.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
}

.col {
    width: 50%;
    padding: 10px;
}

.col_12 {
    width: 100%;
    display: flex;
    justify-content: center;
}